body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-image: url("/static/images/background-image-desktop.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-top: 50px;
}

.main-header {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  z-index: 100;
}

.login-box {
  width: 400px !important;
  max-width: 400px;
  padding: 20px;
  margin-top: 125px;
  background-color: rgba(255, 255, 255, 0.7) !important;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.desktop-logo {
  display: inline;
}

.mobiletablet-logo {
  display: none;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 200px;
  padding-bottom: 20px;
  color: white !important;
}

.form-group {
  margin-bottom: 15px;
  text-align: center;
}

.input-icon {
  position: relative;
}

.input-icon i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #666;
  font-size: 1.1rem;
  pointer-events: none;
}

.input-icon input.form-control {
  padding-left: 35px;
}

.btn-primary {
  margin: 20px auto;
  display: block;
  width: 100%;
}

footer {
  color: white;
  font-family: sans-serif;
  font-weight: bolder;
  padding-top: 75px;
}

@media (max-width: 600px) {
  body, html {
    background-image: url("/static/images/background-image-mobile-tablet.webp");
    }

  #container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    padding-top: 25px;
  }

  .login-box {
    width: 300px !important;
    margin-top: 300px;
  }

  .desktop-logo {
    display: none;
  }

  .mobiletablet-logo {
    display: block;
  }

  form {
    width: 100%;
  }

  .btn-primary {
    width: 100%;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .desktop-logo {
    display: none;
  }

  .mobiletablet-logo {
    display: block;
  }

  #container {
    width: 90%;
    text-align: center;
  }
}