body, html{
  overflow-x: hidden;
}
.desktop-logo {
    display: block;
  }
  
  .mobiletablet-logo {
    display: none;
  }
  
  html, body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  .page-wrapper {
    width: 100vw;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 2px solid #ddd;
    width: 100%;
  }
  
  nav ul, #mobile-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
  }
  
  nav ul {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  
  nav ul li, #mobile-nav ul li {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
  }
  
  nav ul li a, #mobile-nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  nav ul li a:hover, #mobile-nav ul li a:hover {
    color: purple;
  }
  
  #mobile-nav {
    display: none;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    padding: 10px;
    border: 1px solid grey;
    z-index: 1000;
  }
  
  #mobile-nav.active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
  }
  
  .hamburger-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  
  .hamburger-menu .bar {
    width: 30px;
    height: 3px;
    background-color: black;
  }
  
  .logout-button {
    background: none;
    border: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .grid-container {
    width: 100vw;
    padding: 30px 20px;
    background-image: url("/static/images/background-image-desktop.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
  }
  
  .main-content {
    max-width: 1000px;
    width: 100%;
    padding: 20px;
    color: white;
  }
  
  .resource-content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 40px;
    width: 100%;
    flex-wrap: nowrap;
  }
  
  .resource-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
  }
  
  .resource-left {
    flex: 1;
    max-width: 50%;
    min-width: 400px;
  }
  
  .resource-right {
    flex: 1;
    max-width: 50%;
    min-width: 400px;
    align-items: flex-end;
  }
  
  .resource-left h1{
    margin-bottom: 20px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    margin-left: auto;
  }
  .resource-right h2 {
    margin-bottom: 20px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 25px;
    text-align:center ;
    margin-right: auto;
  }

  .resource-right h3 {
    margin-bottom: 20px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 25px;
    text-align:center ;
    margin-right: auto;
  }
  
  .resource-left ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
  }
  
  .resource-left ul li {
    margin-bottom: 15px;
  }
  
  .resource-left ul li a {
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
  }
  
  .resource-left ul li a:hover {
    color: purple;
  }
  
  .resource-right iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
    border-radius: 8px;
    align-items: center;
  }

  .joke-box {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin-top: 40px;
    border-left: 5px solid purple;
    border-radius: 10px;
    color: white;
    font-family: monospace;
  }

  .email-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #6f42c1;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    font-family: sans-serif;
    transition: background-color 0.3s ease;
  }
  
  .email-button:hover {
    background-color: #5a32a3;
  }
  
  footer {
    font-family: sans-serif;
    font-weight: bold;
    background-color: white;
    color: black;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    width: 100%;
}
  
  @media (max-width: 830px) {
  
header {
          flex-direction: column;
          justify-content: center;
          text-align: center;
  }
  
nav ul {
          justify-content: center;
}
    .resource-content {
      flex-direction: column;
      align-items: center;
    }
  
    .resource-left,
    .resource-right {
      max-width: 100%;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  
    .resource-right iframe {
      width: 100%;
      height: auto;
    }
  
    .grid-container {
      background-image: url("/static/images/background-image-mobile-tablet.webp");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      padding: 0 10px;
          text-align: left;
    }
  }
  
  @media (max-width: 460px) {
    .desktop-logo {
      display: none;
    }
  
    .mobiletablet-logo {
      display: block;
    }
  
    .logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      text-align: center;
    }
    
    .logo-container img {
      max-width: 100%;
      height: auto;
    }
  
    header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }


  nav ul {
      flex-direction: column;
      align-items: center;
      padding-top: 10px;
      display: none;
  }

  #mobile-nav.active {
      display: block;
      background-color: white;
      border-top: 1px solid #ddd;
      border-radius: 8px;
      padding: 10px 0;
  }

  nav ul li {
      width: 100%;
      padding: 10px 0;
  }

  nav ul li a {
      font-size: 18px;
  }

  .hamburger-menu {
      display: flex;
      flex-direction: column;
      cursor: pointer;
  }

  .hamburger-menu .bar {
      width: 20px;
      height: 3px;
      background-color: #333;
      margin: 2px 0;
  }

    #container {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 100vh;
      padding: 20px;
      box-sizing: border-box;
    }
  
    .grid-container {
      min-height: 100vh;
      background-image: url("/static/images/background-image-mobile-tablet.webp");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 20px;
    }
    .resource-left,
    .resource-right {
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .resource-left h1{
      font-size: 18px;
    }
    
    .resource-right h2 {
      font-size: 18px;
      text-align: center;
      margin: 0;
    }
    
  
    .resource-right h3 {
      font-size: 18px;
      text-align: center;
      margin: 0;
    }
  
    .resource-right iframe {
      width: 50%;
      max-width: 50%;
    }
  }