<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}NEBULA{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="description" content="Community for junior coders, chat forum, resources">
  <meta name="keywords" content="coding, programming, software, development">
  <meta name="author" content="Kiera Reidy">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block head %}{% endblock %}
</head>
<body>
  <div class="page-wrapper">
    {% if show_logo_only %}
  {% include 'includes/logo_header.html' %}
{% elif not hide_header %}
  {% include 'includes/header.html' %}
{% endif %}

    {% block content %}{% endblock %}

    {% if not hide_footer %}
      {% include 'includes/footer.html' %}
    {% endif %}
  </div>

  {% block scripts %}{% endblock %}
</body>
</html>

