<!DOCTYPE html>
<html lang="en">
<head>
    <title>NEBULA - Junior Coding Community</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/resources.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="logo-container">
                <img src="../static/images/desktop-logo.png" width="500" height="250" alt="NEBULA Company Logo" class="desktop-logo">
                <img src="../static/images/mobiletablet-logo.png" width="375" height="188" alt="NEBULA Company Logo" class="mobiletablet-logo">
            </div>
                <div class="hamburger-menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                </div>
                <div id="mobile-nav">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Resources</a></li>
                    <li><a href="#">Merchandise</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
                </div>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Resources</a></li>
                    <li><a href="#">Merchandise</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </nav>
        </header>
        <div class="grid-container">
        <main>
        <h1>
            We have compiled a list of really useful resources below to assist you with your coding journey
        </h1>
        <div id="resource-list">
            <ul>
                <li><a href="https://www.w3schools.com">W3 Schools</a></li>
                <li><a href="https://www.w3schools.com">freeCodeCamp</a></li>
                <li><a href="https://www.w3schools.com">UDemy</a></li>
                <li><a href="https://www.w3schools.com">Code Academy</a></li>
            </ul>
        </div>
    </main>
</div>
</div>
    <footer class="text-center mt-4">
        NEBULA &copy; Kiera Reidy 2025
    </footer>
<script src="/static/javascript/blogpage.js"></script>
</body>
</html>